*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 100%;
    height: 90px;
    background-color: orangered;
}
.left{
    margin-left: 20px;
    font-size: 22px;
}
.left h2{
    padding: 10px;
    color: white;
    
}
  .home {
    display: flex;
    list-style: none;
    margin-right: 25px;
    list-style: none;
    padding: 20px;
    position: relative;
    color: white;
    
}
.home  li{
    padding:  0 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul .newlist{
    position: absolute;
    top: 70 px;
    left: 70px;
    background-color: orangered ;
    display: none;
    color: white;
    border-radius: 5px;  
    width: 175px; 
    height: 165px; 
}
.newlist li:hover{
    background-color: black;

    
    
}
.newlist li{
    padding: 5px;
}
.vice:hover .newlist{
    display: block;
}

.newlist{
    list-style: none;
}

ul .home{
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
ul .design{
    display: none;
    position: absolute;
    top: 130px;
    left: -150px;
    height: 130px;
    width: 150px;
    background-color: orangered ;
    display: none;
    color: white;
    border-radius: 5px;    
}

.graph:hover .design{
    display: block;
}
ul .com{
    display: none;
    position: absolute;
    top: 44px;
    left: 180px;
    height: 165px;
    width: 180px;
    background-color: orangered ;
    display: none;
    color: white;
    border-radius: 5px; 
    list-style: none;
    
}
.com li{
        padding: 10px 0 0 20px;

}
.com li:hover{
    background-color: #000000;

}

.port:hover .com{
    display: block;
}